

.edit-new-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 1em;
  font-size: 1rem;

  #edit-clock {
    color: $orange-400;
    // font-size: 2rem;
    // font-weight: semi-bold;
    cursor: pointer;
  }
  #new-clock {
    color: $orange-400;
    font-size: 2rem;
    // font-weight: semi-bold;
    cursor: pointer;
  }  
  #edit-clock, #new-clock:hover {
    color: $orange-300;
  }
}


.modal {
  background-color: $trueGray-700;
  position: absolute;
  margin: 0 auto;
  top: 10%;
  left: 0;
  right: 0;
  width: 90%;
  display: none;
  z-index: 1000;
  padding: .5em 1em;
  border:.25rem solid $trueGray-500;
  border-radius: 1rem;

  .timezone-list {
    display: flex;
    flex-direction: column;

    li {
      font-size: 1.3rem;
      padding: .5em;
      border-bottom: 1px solid $trueGray-600;
    }
    li:last-child {
      border: 0;
    }
    li:hover {
      background-color: $trueGray-600;
    }
  }
}



.active {
  display: block;
}

.hidden {
  display: none;
}




