.hidden {
  display: none;
}

.display-area {
  position: relative;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.time-display {
  margin: 4em auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  

  span {
    color: $trueGray-100;
    font-size: 2rem;
  }


  input {
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 30%;
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    background-color: transparent;
    border: 0;
    // border: 2px solid red;
    color: $trueGray-100;
    
  }
  input:first-child {
    text-align: right;
    padding-right: .2em;
  }
}

.circle {
  display: none;
  position:absolute;
  top: 20px;
  left: 20px;
}

.time-input {
  background-color: $trueGray-900;
  position: absolute;
  top: 70px;;
  width: 100%;
  height: 150px;

  .selection-wrapper {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  select {
    width: 20%;
    text-align: center;
    border: 0;
    background-color: $trueGray-900;
    color: $trueGray-100;

    option:not(:checked) {
      color: $trueGray-500;
    }

    option:checked {
      // box-shadow: 0 0 0 3px lime;
      color: #fff;
      // border: 2px solid red;
      background: $trueGray-900;
      width: 50%;
      margin: 0 auto;
    }  
  }

  select:focus-visible,
  select:focus,
  select:focus-within {
    outline: 0;
  }
}

.timer-buttons {
  margin: 1em;
  height: 150px;
  display: flex;
  justify-content: space-between;
  button {
    display: none;
    background-color: #fff;
    margin: 1em;
  }
  .active {
    display: inline-block;
  }
  
}

.active {
  display: block;
}
