$color: orange;

$trueGray-50: #fafafa;
$trueGray-100: #f5f5f5;
$trueGray-200: #e5e5e5;
$trueGray-300: #d4d4d4;
$trueGray-400: #a3a3a3;
$trueGray-500: #737373;
$trueGray-600: #525252;
$trueGray-700: #404040;
$trueGray-800: #262626;
$trueGray-900: #171717;

$orange-50: #fff7ed;
$orange-100: #ffedd5;
$orange-200: #fed7aa;
$orange-300: #fdba74;
$orange-400: #fb923c;
$orange-500: #f97316;
$orange-600: #ea580c;
$orange-700: #c2410c;
$orange-800: #9a3412;
$orange-900: #7c2d12;